<ul>

<% @tweets.each do |tweet| %>
    <li>
      [ID: <%= tweet.id %>]
      <%= tweet.twitter_user %> said <%= tweet.tweeted_text %> time <%= tweet.tweeted_at%>
      <%= link_to('View', tweet_url(tweet))%>
    </li>
  <% end %>

  <%= render(partial: 'tweet', collection: @tweets) %>
</ul>

